<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>Aula 05</title>
</head>
<body>
    <div id="app">
        <span>Toque na lâmpada</span>
        <img @click="acender" v-if="acesa" src="on.png" alt="Lâmpada acesa">
        <img @click="acender" v-else="acesa" src="off.png" alt="Lâmpada apagada">
        <!-- <button @click="acender">{{ acesa ? 'Apagar' : 'Acender' }}</button> -->
        <span v-if="acesa">Lâmpada acesa!</span>
        <span v-else="acesa">Lâmpada apagada!</span>
    </div>
    <script src="index.js"></script>
</body>
</html>