h1 {
    color: tomato;
    margin-top: 0;
}

form {
    display: grid;
    grid-gap: 10px;
    width: 400px;
    margin: 0 auto;
}

form input {
    padding: 10px;
    border-radius: 10px;
}

.user-list {
    margin: 0 auto;
    padding: 0;
    width: 400px;
    border-collapse: collapse;
}

.user-list th,
.user-list td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

.edit-button {
    background-color: teal;
}

.delete-button {
    background-color: tomato;
}

.edit-button,
.delete-button {
    padding: 5px 10px;
}
